@import-normalize;
@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-family;
}

body {
  font-size: $font-size-normal;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  padding-top: 6rem;
  overflow: auto;
  display: grid;
  color: $color-primary-text;
}

h1 {
  @include font-title();
}

h2 {
  @include font-subtitle();
}

#root {
  display: grid;
}
